@font-face {
	font-family: 'Futura LT';
	src: url('FuturaLT.eot');
	src: url('FuturaLT.eot?#iefix') format('embedded-opentype'),
		url('FuturaLT.woff') format('woff'),
		url('FuturaLT.ttf') format('truetype'),
		url('FuturaLT.svg#FuturaLT') format('svg');
	font-weight: 500;
	font-style: normal;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


body {
	margin:0;
	padding:0;
	font-family: 'Futura LT';
	font-weight: 500;
	font-style: normal;
}

/* Navigation */

.navBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	bottom:0;
	border-right: 1px solid #dfdfdf;
	background-color: #fff;
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	-webkit-box-sizing:border-box;
  	padding:21px;
  	z-index: 9999;
  	-moz-transition: all 1s;
  	-webkit-transition: all 1s;
  	transition: all 1s;
}

.navBar:hover {
	cursor: pointer;
}
.navBar:hover .name {
	color: #273444;
}

.name {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width: 200px;
    position: fixed;
    left: -70px;
    top: 150px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4.5px;
    color: #8492A6;
    -moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;

}

.social {
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	z-index: 9998;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	color: #8492A6;
	background-color: #fff;
	padding:21px;
	-moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
}
.social a {
	color: #8492A6;
	text-decoration: none;
	-moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
}
.social a:hover {
	cursor: pointer;
	color: #1F2D3D;
	text-decoration: underline;
}
.wrapper {
	max-width:770px;
	margin:auto;
	margin-top: 100px;
}

.color-right {
	display: inline-block;
	background-color: #ccc;
	width: 50%;
	height: 380px;
	vertical-align: top;
}

.info-left {
	position: relative;
	display: inline-block;
	width: 49%;
	height: 380px;
	vertical-align: top;
	color: #1F2D3D;
}

.details-abacus {
	position: absolute;
	z-index: 9997;
	right: -150px;
	top: 80px;
}
.details-designtalk {
	position: absolute;
	z-index: 9997;
	right: -110px;
	top: 80px;
}

.details-turntable {
	position: absolute;
	z-index: 9997;
	right: -150px;
	top: 80px;
}

.details-percolate {
	position: absolute;
	z-index: 9997;
	left: -200px;
	top: 80px;
}

.details-shake {
	position: absolute;
	z-index: 9997;
	left: -200px;
	top: 80px;
}

.info-left h1 {
	font-size: 45px;
	letter-spacing: 13px;
	margin:0;
	padding:0;
	margin-bottom: -2px;
	text-transform: uppercase;
	-moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
}

.info-left p {
	font-size: 15px;
	margin:0;
	display: inline-block;
	padding:0;
	-moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
}

.row {
	margin-bottom: 100px;
}

.row:hover {
	cursor: pointer;
}

.abacus-block {
	background-color: #0187D0;
	position: relative;
}

.designtalk-block {
	background-color: #8492A6;
	position: relative;
}

.percolate-block {
	background-color: #F06320;
	position: relative;
}
.shake-block {
	background-color: #E74C3C;
	position: relative;
}
.turntable-block {
	background-color: #E9C93F;
	position: relative;
}
.row:hover .arrow {
	right: 25px;
}

.row:hover h1, .row:hover p  {
	background-color: #fff;
}

.arrow {
	position: absolute;
	bottom:30px;
	right:35px;
	-moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
}

.abacus-expanded, .percolate-expanded, .designtalk-expanded, .shake-expanded, .turntable-expanded {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	display: none;
	z-index: 9999;
	overflow: scroll;
}
.expanded-wrapper {
	max-width: 800px;
	margin:auto;
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: auto;
}

.expanded-wrapper img {
	width: 100%;
	margin-bottom: 10px;
}

.expanded-wrapper h1 {
	font-size: 45px;
	letter-spacing: 13px;
	margin:0;
	padding:0;
	margin-bottom: -2px;
	color: #1F2D3D;
	text-transform: uppercase;
	-moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
}

.expanded-wrapper p {
	font-size: 15px;
	margin:0;
	display: inline-block;
	padding:0;
	color: #1F2D3D;
	margin-bottom: 50px;
	-moz-transition: all 0.2s;
  	-webkit-transition: all 0.2s;
  	transition: all 0.2s;
}

.remove-overflow {
	overflow: hidden;
}

.close {
	position: fixed;
	z-index: 9999;
	top: 65px;
	left: 50px;
	color: #ccc;
	opacity: 0.7;
}

.close:hover {
	opacity: 1.0;
	cursor: pointer;
}