@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
	margin:0px;
	background-color: #F8F8F8;
	padding:0px;
	font-family: 'Oswald', sans-serif;
	background-repeat:no-repeat;
  background-size:cover;
  overflow: hidden;
}
.wrapper {
	max-height: 100vh;
	min-height: 100vh;
	width: 100%;
	border:40px solid #ffffff;
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	transition: all 0.2s;
	-webkit-transition:all 0.2s;
  overflow: scroll
}
.navBar {
	width:100%;
	max-width: 1100px;
	margin:auto;
	padding:40px;
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
.arrowDown {
   position: absolute;
   bottom:50px;
   left: 50%;
   font-size:30px;
   text-align: center;
   color: #5848DE;
}
.sideBar {
  display: none;
  position: fixed;
  z-index:9998;
  background-color: #5848DE;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
}

.container {
	width:100%;
	max-width: 1100px;
	margin:auto;
	padding:40px;
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.infoWrapper {
  position: relative;
  height:calc(100vh - 200px);
}
.info {
  position: relative;
  top: 15%;
}

.container h1 {
	font-size: 50px;
	margin:0;
	padding: 0;
	line-height: 70px;
	color: #111;
	font-weight: 400;
}
.container h1.thin {
	font-weight: 300;
}
.container h1.small {
  font-size: 25px;
  line-height: 30px;
  margin-top: 10px;
}
.container h1 .abacus,
.container h1 .shake,
.container h1 .percolate,
.container h1 .turn,
.container h1 .designTalk {
	transition: all 0.2s;
	-webkit-transition:all 0.2s;
}
.container h1 .abacus:hover {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    cursor:pointer;
    color:#0187D0;
}

.container h1 .shake:hover {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    color:#D94C1A;
    cursor: pointer;
}

.container h1 .percolate:hover {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    cursor:pointer;
    color:#F06320;
}

.container h1 .turn:hover {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    cursor:pointer;
    color:#F6B213;
}

.container h1 .designTalk:hover {
	-ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    cursor:pointer;
    color:#000;
}



.navBar a.name {
	text-transform: uppercase;
	font-weight: 400;
	font-size:14px;
	color:#111111;
	letter-spacing: 1.5px;
	display: inline-block;
	transition: all 0.2s;
	-webkit-transition:all 0.2s;
}

.navBar a.name:hover {
	color: #5848DE;
  cursor: pointer;
}


/* Grid */

.grid {
  overflow: auto;
  width: 100%;
  min-height: 20px;
  margin-top: 0;
}

.grid .item {
  width: 35%;
  margin-right:3%;
  float: left;
  min-height: 150px;
  background-color: #ccc;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .itemLong {
  width: 62%;
  margin:0;
  float: right;
  min-height: 150px;
  background-color: #ccc;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .itemLongLeft {
  width: 62%;
  margin-top: 3%;
  float: left;
  min-height: 150px;
  background-color: #ccc;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .itemRight {
  width: 35%;
  margin-top: 3%;
  float: right;
  min-height: 150px;
  background-color: #ccc;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Menu Bar */

.button {
  display: inline-block;
  position: relative;
  float:right;
  width: 40px;
  z-index: 9999;
  top:-10px;
  height: 40px;
  border-radius: 3px;
  background:transparent;
  margin: 0 auto;
  padding-top: 12px;
  transition: all 500ms cubic-bezier(1.000, 0.000, 0.645, 0.650);
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu-bar {
  display: block;
  position: relative;
  background: #111;
  width: 26px;
  height: 2px;
  border-radius: 1px;
  transition: all 300ms;
  margin: 0 auto;
}
.menu-bar:hover {
  background-color: #5848DE;
}

.bar1 {
  top: 0;
  animation: topbar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.bar2 { opacity: 1; }

.bar3 {
  bottom: 0;
  animation: bottombar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.menu-bar + .menu-bar {
  margin-top: 8px;
}
.toggled .menu-bar {
  background-color: #fff;
}
.toggled .bar1 {
  top: 25%;
  color:#fff;
  animation: topbar-x 500ms;
  animation-fill-mode: both;
}

.toggled .bar2 {
  opacity: 0;
}

.toggled .bar3 {
  bottom: 25%;
  animation: bottombar-x 500ms;
  animation-fill-mode: both;
}

@keyframes topbar-x {
  0% {
    top: 0;
    -webkit-transform: rotate(0deg);
  }

  45% {
    top: 25%;
    -webkit-transform: rotate(145deg);
  }

  75% {
    -webkit-transform: rotate(130deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
    color:#fff;
  }
}

@keyframes topbar-back {
  0% {
    top: 25%;
    -webkit-transform: rotate(135deg);
    color:#fff;
  }

  45% {
    -webkit-transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(5deg);
  }

  100% {
    top: 0;
    -webkit-transform: rotate(0);
  }
}

@keyframes bottombar-x {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0deg);
  }

  45% {
    bottom: 25%;
    -webkit-transform: rotate(-145deg);
  }

  75% {
    -webkit-transform: rotate(-130deg);
  }

  100% {
    -webkit-transform: rotate(-135deg);
    color:#fff;
  }
}

@keyframes bottombar-back {
  0% {
    bottom: 25%;
    -webkit-transform: rotate(-135deg);
    color:#fff;
  }

  45% {
    -webkit-transform: rotate(10deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
  }
}