@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,200;0,400;1,200&display=swap');

body {
    margin:0;
    padding:0;
    font-family: 'IBM Plex Serif', serif;
    background-color:#EFF2F7;
    font-weight: 100;
}

.container {
    max-width:860px;
    padding:0 20px;
    margin:auto;
}

.nav {
    position:fixed;
    top:0;
    width:100%;
    height:40px;
    background-color:#EFF2F7;
}

.nav span {
    color:#1F2D3D;
    font-size:14px;
    line-height:40px;
    font-weight:700;
}

.nav a {
    text-decoration:none;
}

.header {
    margin-top:120px;
}

.header h1 {
    font-size:62px;
    line-height:85px;
    font-weight:100;
}

@media screen and (max-width: 960px) {
    .header h1 {
        font-size:42px;
        line-height:65px;
    }
}

.header h1 span {
    color:#B265E9;
}

.content {
    margin-top:120px;
    color: #1F2D3D;
    margin-bottom:50px;
}

.content ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.content ul li span {
    margin:20px 0;
}

.content ul li {
    font-size:25px;
    padding:30px 0;
}

.content ul a {
    text-decoration:none;
    color: #1F2D3D;
}

.content ul a:hover {
    text-decoration: underline;
}

.logo {
    display:none;
    position:fixed;
    text-align:center;
    height:50px;
    width:50px;
    background-image: url('img/up-right.svg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

}

.trueplan:hover .logo {
    display: block;
    background-color:#0FBE7B;
}

.twilio:hover .logo {
    display: block;
    background-color:#F22F46;
}

.sendgrid:hover .logo {
    display: block;
    background-color:#1A82E2;
}

.minimaps:hover .logo {
    display: block;
    background-color:#7450E9;
}

.abacus:hover .logo {
    display: block;
    background-color:#0187d0;
}

.shake:hover .logo {
    display: block;
    background-color:#d94d1a;
}

.percolate:hover .logo {
    display: block;
    background-color:#F06320;
}

.dt:hover .logo {
    display: block;
    background-color:#1F083C;
}

.turntable:hover .logo {
    display: block;
    background-color:#E9C93F;
}

.mbi:hover .logo {
    display: block;
    background-color:#586475;
}

.wave {
    font-size:50px;
    margin-bottom:80px;
}
.footer {
    margin-bottom:50px;
}
.footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.footer ul li {
    display: inline;
}

.footer ul li a {
    text-decoration:none;
    color: #1F2D3D;
    margin-right:20px;
}

.footer ul li a:hover {
    text-decoration:underline;
}

a {
    color: #1F2D3D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.work {
    margin-top:60px;
}
.work img {
    padding:30px;
    width:calc(100% - 40px);
    background-color:#E0E6ED;
    margin-bottom:32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.container p {
    font-size:20px;
    line-height: 34px;
}